<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>My Club</string>
	<key>Header_Image</key>
	<string>MyClubHeader.jpg</string>
	<key>Thumbnail_Image</key>
	<string>MyClubThumbnail.jpg</string>
	<key>NodeArray</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Amenities</string>
			<key>Header_Image</key>
			<string>AmenitiesImageHeaderNEW.jpg</string>
			<key>Thumbnail_Image</key>
			<string>AmenitiesThumbnailNEW.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Dining</string>
					<key>Header_Image</key>
					<string>DiningHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>DiningThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Room Service</string>
							<key>Header_Image</key>
							<string>RoomServiceHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>RoomServiceThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>ROOM SERVICEMenu.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Torchy&apos;s Restaurant &amp; Wine Bar</string>
							<key>Header_Image</key>
							<string>Torchy&apos;sHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>Torchy&apos;sThumbnail.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Menu</string>
									<key>Header_Image</key>
									<string>Torchy&apos;sMenuHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>Torchy&apos;sMenuThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>Torchy&apos;sMenu.pdf</string>
								</dict>
								<dict>
									<key>Title</key>
									<string>Information</string>
									<key>Header_Image</key>
									<string>RestaurantInformationHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>RestaurantInformationThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>TORCHYInfoContent.html</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>Title</key>
							<string>Hagrety&apos;s</string>
							<key>Header_Image</key>
							<string>Hagerty&apos;sHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>Hagerty&apos;sThumbail.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Menu</string>
									<key>Header_Image</key>
									<string>Hagerty&apos;sMenuHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>Hagerty&apos;sMenuThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>Hagerty&apos;sMenu.pdf</string>
								</dict>
								<dict>
									<key>Title</key>
									<string>Information</string>
									<key>Header_Image</key>
									<string>RestaurantInformationHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>RestaurantInformationThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>HAGERTYinfoContent.html</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Spa</string>
					<key>Header_Image</key>
					<string>SpaHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>SpaThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Services</string>
							<key>Header_Image</key>
							<string>MenuofServicesSpaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>MenuofServicesSpaThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>SpaServicesContent.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Information</string>
							<key>Header_Image</key>
							<string>MenuofServicesSpaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SpaInfoThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>SpaInfoContent.html</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Athletics</string>
					<key>Header_Image</key>
					<string>AthleticsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>AthleticsThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Sports Club</string>
							<key>Header_Image</key>
							<string>SportsClubsHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SportsClubsThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>SportsClubsContent.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Classes</string>
							<key>Header_Image</key>
							<string>GourpClassesHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>GroupClassesThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>ClassesContent.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Juniors</string>
							<key>Header_Image</key>
							<string>JuniorsHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>JuniorsThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>JuniorsContent.html</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Events</string>
			<key>Header_Image</key>
			<string>EventsHeader.jpg</string>
			<key>Thumbnail_Image</key>
			<string>EventsThumbnail.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Current</string>
					<key>Header_Image</key>
					<string>EventsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>EventsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>http://www.resortsuite.com</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Weddings</string>
					<key>Header_Image</key>
					<string>WeddingsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>WeddingsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>WeddingsContent.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Meetings</string>
					<key>Header_Image</key>
					<string>MeetingsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>MeetingsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>MeetingsContent.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rooms</string>
			<key>Header_Image</key>
			<string>RoomsHeader.jpg</string>
			<key>Thumbnail_Image</key>
			<string>RoomsThumbnail.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Rooms Types</string>
					<key>Header_Image</key>
					<string>RoomTypeHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>RoomTypesThumnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Signature Room</string>
							<key>Header_Image</key>
							<string>SignatureRoomHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SignatureRoomThumnail.jpg</string>
							<key>DetailPage</key>
							<string>SignatureRoomContent.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Balcony Signature Room</string>
							<key>Header_Image</key>
							<string>SignatureBalconyHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SignatureBalconyThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>BalconySignatureRoomContent.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>President&apos;s Suite</string>
							<key>Header_Image</key>
							<string>PresidentRoomHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>PresidentRoomThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>PresidentRoomContent.html</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Packages</string>
					<key>Header_Image</key>
					<string>PackagesImageHeaderNEW.jpg</string>
					<key>Thumbnail_Image</key>
					<string>PackagesImageThumbnailNEW.jpg</string>
					<key>DetailPage</key>
					<string>PackagesContent.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Club Information</string>
			<key>Header_Image</key>
			<string>MyClubHeader.jpg</string>
			<key>Thumbnail_Image</key>
			<string>MyClubThumbnail.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Local Attraction</string>
					<key>Header_Image</key>
					<string>LocalAttractionsHeaderl.jpg</string>
					<key>Thumbnail_Image</key>
					<string>LocalAttractionsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>LocalAttractionsContent.html</string>
				</dict>
				<dict>
					<key>DetailPage</key>
					<string>Map</string>
					<key>Locations</key>
					<array>
						<dict>
							<key>LocTitle</key>
							<string>Brentwood Bay Resort</string>
							<key>Latitude</key>
							<integer>0</integer>
							<key>Longitude</key>
							<integer>0</integer>
							<key>Address</key>
							<string>123 Main Street East, NY 12345</string>
						</dict>
					</array>
					<key>Header_Image</key>
					<string>Maps&amp;DirectionsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>Maps&amp;DirectionsThumbnail.jpg</string>
					<key>Title</key>
					<string>Spa at montreal</string>
					<key>Info</key>
					<string>CONTACTUS.html</string>
					<key>InfoTitle</key>
					<string>Contact Us</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Contact</string>
					<key>Header_Image</key>
					<string>ContactUsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>ContactusThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>ContactInfoContent.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Membership Information</string>
					<key>Header_Image</key>
					<string>MembershipInfoHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>MembershipInfoThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>MembershipInfoContent.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Gallery</string>
					<key>Header_Image</key>
					<string>Maps&amp;DirectionsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>Maps&amp;DirectionsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>Gallery</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
