<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ipad-ResortSuite-SecondStatic-MyAccount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ipad-ResortSuite-SecondStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Ipad-ResortSuite-TwoButton-MyAccount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Ipad-ResortSuite-TwoButton-MyItinerary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Ipad-ResortSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Ipad-ResortSuite_Club.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D88D0E214E8FB520095DBA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC5004D14EBB848002A3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC500BE14EBD206002A3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC5FE4514EB7C91002A3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC5FEBC14EB83DD002A3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC5FFDD14EB8E4C002A3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
