<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header_Image</key>
	<string>MyClubHeader.jpg</string>
	<key>NodeArray</key>
	<array>
		<dict>
			<key>Header_Image</key>
			<string>AmenitiesImageHeaderNEW.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Header_Image</key>
					<string>DiningHeader.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>DetailPage</key>
							<string>ROOM SERVICEMenu.html</string>
							<key>Header_Image</key>
							<string>RoomServiceHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>RoomServiceThumbnail.jpg</string>
							<key>Title</key>
							<string>Room Service</string>
						</dict>
						<dict>
							<key>Header_Image</key>
							<string>Torchy&apos;sHeader.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>DetailPage</key>
									<string>Torchy&apos;sMenu.pdf</string>
									<key>Header_Image</key>
									<string>Torchy&apos;sMenuHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>Torchy&apos;sMenuThumbnail.jpg</string>
									<key>Title</key>
									<string>Menu</string>
								</dict>
								<dict>
									<key>DetailPage</key>
									<string>TORCHYInfoContent.html</string>
									<key>Header_Image</key>
									<string>RestaurantInformationHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>RestaurantInformationThumbnail.jpg</string>
									<key>Title</key>
									<string>Information</string>
								</dict>
							</array>
							<key>Thumbnail_Image</key>
							<string>Torchy&apos;sThumbnail.jpg</string>
							<key>Title</key>
							<string>Torchy&apos;s Restaurant &amp; Wine Bar</string>
						</dict>
						<dict>
							<key>Header_Image</key>
							<string>Hagerty&apos;sHeader.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>DetailPage</key>
									<string>Hagerty&apos;sMenu.pdf</string>
									<key>Header_Image</key>
									<string>Hagerty&apos;sMenuHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>Hagerty&apos;sMenuThumbnail.jpg</string>
									<key>Title</key>
									<string>Menu</string>
								</dict>
								<dict>
									<key>DetailPage</key>
									<string>HAGERTYinfoContent.html</string>
									<key>Header_Image</key>
									<string>RestaurantInformationHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>RestaurantInformationThumbnail.jpg</string>
									<key>Title</key>
									<string>Information</string>
								</dict>
							</array>
							<key>Thumbnail_Image</key>
							<string>Hagerty&apos;sThumbail.jpg</string>
							<key>Title</key>
							<string>Hagrety&apos;s</string>
						</dict>
					</array>
					<key>Thumbnail_Image</key>
					<string>DiningThumbnail.jpg</string>
					<key>Title</key>
					<string>Dining</string>
				</dict>
				<dict>
					<key>Header_Image</key>
					<string>SpaHeader.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>DetailPage</key>
							<string>SpaServicesContent.html</string>
							<key>Header_Image</key>
							<string>MenuofServicesSpaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>MenuofServicesSpaThumbnail.jpg</string>
							<key>Title</key>
							<string>Services</string>
						</dict>
						<dict>
							<key>DetailPage</key>
							<string>SpaInfoContent.html</string>
							<key>Header_Image</key>
							<string>MenuofServicesSpaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SpaInfoThumbnail.jpg</string>
							<key>Title</key>
							<string>Information</string>
						</dict>
					</array>
					<key>Thumbnail_Image</key>
					<string>SpaThumbnail.jpg</string>
					<key>Title</key>
					<string>Spa</string>
				</dict>
				<dict>
					<key>Header_Image</key>
					<string>AthleticsHeader.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>DetailPage</key>
							<string>SportsClubsContent.html</string>
							<key>Header_Image</key>
							<string>SportsClubsHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SportsClubsThumbnail.jpg</string>
							<key>Title</key>
							<string>Sports Club</string>
						</dict>
						<dict>
							<key>DetailPage</key>
							<string>ClassesContent.html</string>
							<key>Header_Image</key>
							<string>GourpClassesHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>GroupClassesThumbnail.jpg</string>
							<key>Title</key>
							<string>Classes</string>
						</dict>
						<dict>
							<key>DetailPage</key>
							<string>JuniorsContent.html</string>
							<key>Header_Image</key>
							<string>JuniorsHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>JuniorsThumbnail.jpg</string>
							<key>Title</key>
							<string>Juniors</string>
						</dict>
					</array>
					<key>Thumbnail_Image</key>
					<string>AthleticsThumbnail.jpg</string>
					<key>Title</key>
					<string>Athletics</string>
				</dict>
			</array>
			<key>Thumbnail_Image</key>
			<string>AmenitiesThumbnailNEW.jpg</string>
			<key>Title</key>
			<string>Amenities</string>
		</dict>
		<dict>
			<key>Header_Image</key>
			<string>EventsHeader.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>DetailPage</key>
					<string>http://www.resortsuite.com</string>
					<key>Header_Image</key>
					<string>EventsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>EventsThumbnail.jpg</string>
					<key>Title</key>
					<string>Current</string>
				</dict>
				<dict>
					<key>DetailPage</key>
					<string>WeddingsContent.html</string>
					<key>Header_Image</key>
					<string>WeddingsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>WeddingsThumbnail.jpg</string>
					<key>Title</key>
					<string>Weddings</string>
				</dict>
				<dict>
					<key>DetailPage</key>
					<string>MeetingsContent.html</string>
					<key>Header_Image</key>
					<string>MeetingsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>MeetingsThumbnail.jpg</string>
					<key>Title</key>
					<string>Meetings</string>
				</dict>
			</array>
			<key>Thumbnail_Image</key>
			<string>EventsThumbnail.jpg</string>
			<key>Title</key>
			<string>Events</string>
		</dict>
	</array>
	<key>Thumbnail_Image</key>
	<string>MyClubThumbnail.jpg</string>
	<key>Title</key>
	<string>My Static</string>
</dict>
</plist>
