<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>My Static</string>
	<key>Header_Image</key>
	<string>MyHotelHeaderNEW.jpg</string>
	<key>Thumbnail_Image</key>
	<string>MyClubThumbnail.jpg</string>
	<key>NodeArray</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Rooms Section</string>
			<key>Header_Image</key>
			<string>RoomsImageHeader.jpg</string>
			<key>Thumbnail_Image</key>
			<string>RoomsImageThumbnail.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Rooms Types</string>
					<key>Header_Image</key>
					<string>RoomsImageHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>RoomTypesThumbnailNEW.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Ocean Suite</string>
							<key>Header_Image</key>
							<string>OceanSuiteHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>OceanSuiteThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>OceanSuite.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Deluxe Ocean Suite</string>
							<key>Header_Image</key>
							<string>DeluxeOceanSuiteHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>DeluxeOceanSuiteThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>DeluxeOceanSuite.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Ocean Villa</string>
							<key>Header_Image</key>
							<string>OceanVillaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>OceanVillaThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>OceanVilla.html</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Packages</string>
					<key>Header_Image</key>
					<string>PackagesImageHeaderNEW.jpg</string>
					<key>Thumbnail_Image</key>
					<string>PackagesImageThumbnailNEW.jpg</string>
					<key>DetailPage</key>
					<string>VictoriaGetawayPackages.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Amenities Section</string>
			<key>Header_Image</key>
			<string>AmenitiesImageHeaderNEW.jpg</string>
			<key>Thumbnail_Image</key>
			<string>AmenitiesThumbnailNEW.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Dining</string>
					<key>Header_Image</key>
					<string>DiningImageHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>DiningThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Room Service</string>
							<key>Header_Image</key>
							<string>RoomServiceImageHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>RoomServiceThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>RoomServiceMenu.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Seagrille</string>
							<key>Header_Image</key>
							<string>SeagrilleImageHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SeaGrilleThumbnail.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Menu</string>
									<key>Header_Image</key>
									<string>SeagrilleMenuHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>SeagrilleMenuThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>SeaGrilleMenu.html</string>
								</dict>
								<dict>
									<key>Title</key>
									<string>Information</string>
									<key>Header_Image</key>
									<string>SeagilleInformationHeaderImage.jpg</string>
									<key>Thumbnail_Image</key>
									<string>SeagrilleInformationThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>SeagrilleInfo.html</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>Title</key>
							<string>The Bretwood Pub</string>
							<key>Header_Image</key>
							<string>PubImageHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>PubThumbnail.jpg</string>
							<key>NodeArray</key>
							<array>
								<dict>
									<key>Title</key>
									<string>Menu</string>
									<key>Header_Image</key>
									<string>PubMenuHeaderImage.jpg</string>
									<key>Thumbnail_Image</key>
									<string>PubMenuThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>PubMenu.html</string>
								</dict>
								<dict>
									<key>Title</key>
									<string>Information</string>
									<key>Header_Image</key>
									<string>PubInformationHeader.jpg</string>
									<key>Thumbnail_Image</key>
									<string>PubInformationThumbnail.jpg</string>
									<key>DetailPage</key>
									<string>PubInfo.html</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Spa</string>
					<key>Header_Image</key>
					<string>SpaImage1Headeer.jpg</string>
					<key>Thumbnail_Image</key>
					<string>SpaThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Services</string>
							<key>Header_Image</key>
							<string>MenuofServicesSpaHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>MenuofServicesSpaThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>MenuOfServices.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Information</string>
							<key>Header_Image</key>
							<string>SpaInformationHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>SpaInformationThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>SpaInfo.html</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Golf</string>
					<key>Header_Image</key>
					<string>GolfHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>GolfThumbnail.jpg</string>
					<key>NodeArray</key>
					<array>
						<dict>
							<key>Title</key>
							<string>Rock Ridge</string>
							<key>Header_Image</key>
							<string>RidgeRockHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>RidgeRockThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>RidgeRockCourse.html</string>
						</dict>
						<dict>
							<key>Title</key>
							<string>Pine Tree</string>
							<key>Header_Image</key>
							<string>PineTreeHeader.jpg</string>
							<key>Thumbnail_Image</key>
							<string>PineTreeThumbnail.jpg</string>
							<key>DetailPage</key>
							<string>PineTreeCourse.html</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hotel Info</string>
			<key>Header_Image</key>
			<string>MyHotelHeader.jpg</string>
			<key>Thumbnail_Image</key>
			<string>MyHotelThumbnail.jpg</string>
			<key>NodeArray</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Local Attractions</string>
					<key>Header_Image</key>
					<string>LocalAttractionsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>LocalAttractionsThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>VictoriaAttractions.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Contact</string>
					<key>Header_Image</key>
					<string>ContactUsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>ContactusThumbnail.jpg</string>
					<key>DetailPage</key>
					<string>CONTACTUS.html</string>
				</dict>
				<dict>
					<key>DetailPage</key>
					<string>Map</string>
					<key>Locations</key>
					<array>
						<dict>
							<key>LocTitle</key>
							<string>Brentwood Bay Resort</string>
							<key>Latitude</key>
							<integer>0</integer>
							<key>Longitude</key>
							<integer>0</integer>
							<key>Address</key>
							<string>123 Main Street East, NY 12345</string>
						</dict>
					</array>
					<key>Header_Image</key>
					<string>Maps&amp;DirectionsHeader.jpg</string>
					<key>Thumbnail_Image</key>
					<string>Maps&amp;DirectionsThumbnail.jpg</string>
					<key>Title</key>
					<string>Spa at montreal</string>
					<key>Info</key>
					<string>CONTACTUS.html</string>
					<key>InfoTitle</key>
					<string>Contact Us</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
